@tailwind base;
@tailwind components;
@tailwind utilities;

.rp-preview--internal__card__content {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.rp-preview-operations.rp-preview-operations--web {
	align-items: end;
}
